**

!Cargo.lock
!Cargo.toml

!scripts
scripts/**
!scripts/mobile-wireguard-exit-server.sh

!crates
!crates/**

!linux
linux/**
!linux/Dockerfile
!linux/scripts
!linux/scripts/dev-entrypoint.sh

!umbrel
umbrel/**
!umbrel/Dockerfile

!web
!web/control-panel
web/control-panel/**
!web/control-panel/index.html
!web/control-panel/package.json
!web/control-panel/pnpm-lock.yaml
!web/control-panel/public
!web/control-panel/public/**
!web/control-panel/src
!web/control-panel/src/**
!web/control-panel/svelte.config.js
!web/control-panel/tsconfig.json
!web/control-panel/vite.config.ts

**/.DS_Store
**/.env
**/.env.*
**/*.log
**/*.rs.bk
**/dist
**/dist/**
**/node_modules
**/node_modules/**
**/target
**/target/**
umbrel/.data
umbrel/.data/**
